# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# dependencies
node_modules

# env files
.env
.env.local
.env.development
.env.production

# build
dist
build

# logs
npm-debug.log*

# IDEs and editors vercel logins keys
cabd9b04-f3c8917b
2da3e080-8101576f
9ef859e9-7f8e80c5
37b92e9a-8849d36b
1eae5c1f-597831c7
9a7fd0d6-d81bd30e