# Frontend
VITE_API_BASE_URL=https://cms.thestartupflash.in/wp-json/

# Production
VITE_ENV=production
VITE_SITE_URL=https://thestartupflash.in

# WordPress REST API
VITE_API_BASE_URL=https://cms.thestartupflash.in/wp-json/wp/v2